<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
    Music App
    <div class = "logic">
      <% if logged_in? %>
    <h2>Welcome <%= current_user.email %>!</h2>
    <form action="<%= session_url%>" method = "POST">
     <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
      <input type="hidden" name = "_method" value = "DELETE">
      <button type = "submit" id= "header" > Sign Out </button>
    </form>
    <%end %>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
